.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px;
  margin-bottom: 40px;
}

.textStyle {
  box-sizing: border-box;
  padding-bottom: 16px;
  position: relative;
  font-size: 26px;
  font-family: 'SourceHanSansCN-Medium';
  font-weight: 500;
  color: #1379ff;
  line-height: 39px;
  margin-left: 139px;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 104px;
    height: 4px;
    background: #1379ff;
    border-radius: 2px;
  }
}
